

@model Shop3.Models.BlogViewModels.BlogDetailViewModel
@{
    ViewData["Title"] = Model.Blog.Name;
    ViewData["MetaKeyword"] = Model.Blog.SeoKeywords;
    ViewData["MetaDescription"] = Model.Blog.SeoDescription;
    var blog = Model.Blog;
}


<section class="blog_post">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-sm-9">
                <div class="entry-detail">
                    <div class="page-title">
                    </div>
                    <div class="entry-photo">
                        <figure><img src="@blog.Image?845" alt="Blog"></figure>
                    </div>
                    <div class="entry-meta-data">

                        <div class="blog-top-desc">
                            <div class="blog-date"> @blog.DateCreated </div>
                            <h1><a href="blog_single_post.html">@blog.Name</a></h1>
                            <div class="jtv-entry-meta">
                                <i class="fa fa-bookmark"></i>  <strong> @blog.Description</strong> @*<a href="#"><i class="fa fa-commenting-o"></i> <strong>15 Comments</strong></a>*@
                                @*<div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>&nbsp; <span>(5 votes)</span></div>*@

                            </div>
                        </div>

                    </div>

                    <div class="content-text clearfix">

                        <p> @Html.Raw(blog.Content)</p>

                    </div>
                    <div class="entry-tags"> <span>Tags:</span> @blog.Tags </div>
                </div>



                <!-- Related Posts -->
                <div class="single-box">
                    <div class="best-title text-left">
                        <h2>Related Posts</h2>
                    </div>
                    <div class="slider-items-products">
                        <div id="related-posts" class="product-flexslider hidden-buttons">
                            <div class="slider-items slider-width-col4 fadeInUp">
                                @foreach (var item in Model.GetReatedBlogs)
                                {
                                    <div class="product-item">
                                        <article class="entry">
                                            <div class="entry-thumb image-hover2"> <a href="/@item.SeoAlias-b.@(item.Id).html"> <img src="@item.Image?h=256" alt="@item.Name"> </a> </div>
                                            <div class="entry-info">
                                                <h3 class="entry-title">
                                                    <a href="/@item.SeoAlias-b.@(item.Id).html">

                                                        @if (item.Description.Length > 25)
                                                        {
                                                            @item.Description.Substring(0, 25)

                                                        }
                                                        else
                                                        {
                                                            @item.Description
                                                        }
                                                        ...


                                                    </a>
                                                </h3>
                                                <div class="entry-meta-data"><span class="date"> <i class="pe-7s-date">&nbsp;</i> @item.DateCreated </span> </div>
                                                <div class="entry-more"> <a href="/@item.SeoAlias-b.@(item.Id).html">Read more</a> </div>
                                            </div>
                                        </article>
                                    </div>
                                }


                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Related Posts -->

            </div>


            <!-- right colunm -->
            <aside class="sidebar col-xs-12 col-sm-3">
                @if (Model.HotBlogs.Count() > 0)
                {
                    <!-- Popular Posts -->
                    <div class="block blog-module">
                        <div class="sidebar-bar-title">
                            <h3>Hot Posts</h3>
                        </div>
                        <div class="block_content">
                            <!-- layered -->
                            <div class="layered">
                                <div class="layered-content">
                                    <ul class="blog-list-sidebar">
                                        @foreach (var item in Model.HotBlogs)
                                        {
                                            <li>
                                                <div class="post-thumb"> <a href="/@item.SeoAlias-b.@(item.Id).html"><img src="@item.Image" alt="@item.Name"></a> </div>
                                                <div class="post-info">
                                                    <h5 class="entry_title"><a href="/@item.SeoAlias-b.@(item.Id).html">@item.Name</a></h5>
                                                    <div class="post-meta"> <span class="date"><i class="pe-7s-date"></i> @item.DateCreated</span> </div>
                                                </div>
                                            </li>
                                        }

                                    </ul>
                                </div>
                            </div>
                            <!-- ./layered -->
                        </div>
                    </div>
                }

                <!-- ./Popular Posts -->
                <!-- tags -->
                <div class="popular-tags-area block">
                    <div class="sidebar-bar-title">
                        <h3>Popular Tags</h3>
                    </div>
                    <div class="tag">
                        <ul>
                            @foreach (var item in Model.BlogTag)
                            {
                                var url =  "/" + item.SeoAlias + "-b." + item.BlogId + ".html";
                                <li><a href="@url">@item.TagName</a></li>
                            }


                        </ul>
                    </div>
                </div>

                <!-- ./tags -->
                <!-- Banner -->
                <div class="single-img-add sidebar-add-slider">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            @foreach (var item in Model.Slides.Select((value, index) => new { value, index }))
                            {
                                <div class="item active">
                                    <img src="@item.value.Image" alt="slide @item.index">
                                    <div class="carousel-caption">
                                        @* <h3><a href="single_product.html" title=" Sample Product">Sale Up to 50% off</a></h3> *@
                                        @* <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> *@
                                        @* <a href="#" class="info">shopping Now</a> *@
                                    </div>
                                </div>
                            }
                           

                            @*<div class="item">
                                <img src="images/add-slide3.jpg" alt="slide3">
                                <div class="carousel-caption">
                                    <h3><a href="single_product.html" title=" Sample Product">Summer Sale</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                            </div>*@
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
                    </div>
                </div>
                <!-- ./Banner -->
            </aside>
            <!-- ./right colunm -->
        </div>
    </div>
</section>



