
@using Microsoft.EntityFrameworkCore.Internal
@using NUglify.Helpers
@model Shop3.Models.ProductViewModels.CatalogViewModel

@{
    ViewData["Title"] = Model.Data.CurrentPage == 1 ? Model.Category.Name : Model.Category.Name + " - Page " + Model.Data.CurrentPage;
    ViewData["MetaKeyword"] = Model.Data.CurrentPage == 1 ? Model.Category.SeoKeywords : Model.Category.SeoKeywords + " - Page " + Model.Data.CurrentPage;
    ViewData["MetaDescription"] = Model.Data.CurrentPage == 1 ? Model.Category.SeoDescription : Model.Category.SeoDescription + " - Page " + Model.Data.CurrentPage;
}
@section Scripts{
    <script src="~/client-app/controllers/product/catalog.js" asp-append-version="true"></script>
    <script type='text/javascript'>
        var catalog = new CatalogController();
        catalog.initialize();
    </script>
}

<!-- Breadcrumbs -->

<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li class="home"> <a title="Go to Home Page" href="/">Home</a><span>&raquo;</span></li>
                    @*<li class=""> <a title="Go to Home Page" href="shop_grid.html">Smartphone</a><span>&raquo;</span></li>*@
                    <li><strong>@Model.Category.Name</strong></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->
<!-- Main Container -->
<div class="main-container col2-left-layout">
    <div class="container">
        <div class="row">
            <div class="col-main col-sm-9 col-xs-12 col-sm-push-3">
                <div class="category-description std">
                    <div class="slider-items-products">
                        <div id="category-desc-slider" class="product-flexslider hidden-buttons">
                            <div class="slider-items slider-width-col1 owl-carousel owl-theme">

                                <!-- Item -->
                                <div class="item">
                                    <a href="#x"><img alt="HTML template" src="/client-side/images/cat-slider-img1.jpg"></a>
                                    <div class="inner-info">
                                        <div class="cat-img-title">
                                            <span>Best Product 2017</span>
                                            <h2 class="cat-heading">Best Selling Brand</h2>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                                            <a class="info" href="#">Shop Now</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Item -->
                                <!-- Item -->
                                <div class="item"> <a href="#x"><img alt="HTML template" src="/client-side/images/cat-slider-img2.jpg"></a> </div>

                                <!-- End Item -->

                            </div>
                        </div>
                    </div>
                </div>
                <div class="shop-inner">
                    <div class="page-title">
                        <h2>@Model.Category.Name</h2>
                    </div>
                    <div class="toolbar">
                        <div class="view-mode">
                            <ul>
                                <li class="active"> <a href="javascript:void(0);" class="largemenu"> <i class="fa fa-th-large"></i> </a> </li>
                                <li><a href="javascript:void(0);" class="listmenu"> <i class="fa fa-th-list"></i> </a> </li>
                            </ul>
                        </div>
                        <form action="/@Model.Category.SeoAlias-c.@(Model.Category.Id).html" method="get">
                            <div class="sorter">

                                <div class="short-by">
                                    <label>Sort By:</label>
                                    @*SortType( đây là Model select) in CatalogViewModel*@
                                    <select name="sortBy" asp-for="SortType"
                                            onchange="this.form.submit()" asp-items="Model.SortTypes">
                                        @*asp-item( đây là list option) in AspNetCore.Mvc.Rendering*@

                                        @* <option selected="selected">Position</option>
                                            <option>Name</option>
                                            <option>Price</option>
                                            <option>Size</option>*@
                                    </select>
                                </div>

                                <div class="short-by page">
                                    <label>Show:</label>
                                    <select name="pageSize" asp-for="PageSize" onchange="this.form.submit()"
                                            asp-items="Model.PageSizes"></select>
                                </div>

                            </div>
                        </form>
                    </div>
                    <div class="product-grid-area">
                        <ul class="products-grid" hidden>

                            @foreach (var item in Model.Data.Results)
                            {
                                var url = "/" + item.SeoAlias + "-p." + item.Id + ".html";
                                <li class="item col-lg-3 col-md-4 col-sm-6 col-xs-6 ">
                                    <div class="product-item">
                                        <div class="item-inner">
                                            <div class="product-thumbnail">
                                                <div class="icon-sale-label sale-left">Sale</div>
                                                <div class="icon-new-label new-right">New</div>
                                                <div class="pr-img-area">
                                                    <a title="Ipsums Dolors Untra" href="@url">
                                                        <figure> <img class="first-img" src="@item.Image?w=153" alt="@item.Name"> <img class="hover-img" src="@item.Image?w=153" alt="@item.Name"></figure>
                                                    </a>
                                                </div>
                                                <div class="pr-info-area">
                                                    <div class="pr-button">
                                                        <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i class="fa fa-heart"></i> </a> </div>
                                                        <div class="mt-button add_to_compare"> <a href="compare.html"> <i class="fa fa-signal"></i> </a> </div>
                                                        <div class="mt-button quick-view" data-id="@item.Id"> <a href="javascript:void(0);"> <i class="fa fa-search"></i> </a> </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-info">
                                                <div class="info-inner">
                                                    <div class="item-title"> <a title="@item.Name" href="@url">@item.Name</a> </div>
                                                    <div class="item-content">
                                                        <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                                                        <div class="item-price">
                                                            @if (item.Price <= 0)
                                                            {
                                                                <div class="price-box"> <span class="regular-price"> <span class="price">Liên Hệ</span> </span> </div>
                                                            }
                                                            else
                                                            {
                                                                <div class="price-box"> <span class="regular-price"> <span class="price">@item.Price.ToString("N0")</span> </span> </div>
                                                            }

                                                        </div>
                                                        <div class="pro-action">
                                                            <button type="button" class="add-to-cart" data-id="@item.Id"><span> Add to Cart</span> </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            }

                        </ul>


                        <ul class="products-list" id="products-list">
                            @foreach (var item in Model.Data.Results)
                            {
                                var url = "/" + item.SeoAlias + "-p." + item.Id + ".html";
                                <li class="item ">
                                    <div class="product-img">
                                        <div class="icon-sale-label sale-left">Sale</div>
                                        <a href="@url" title="Ipsums Dolors Untra">
                                            <figure> <img class="small-image" src="@item.Image?w=254" alt="@item.Name"></figure>
                                        </a>
                                    </div>
                                    <div class="product-shop">
                                        <h2 class="product-name"><a href="@url" title="@item.Name">@item.Name</a></h2>
                                        @*<div class="ratings">
                                                <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> </div>
                                                <p class="rating-links"> <a href="#/">4 Review(s)</a> <span class="separator">|</span> <a href="#review-form">Add Your Review</a> </p>
                                            </div>*@
                                        <div class="price-box">



                                            @if (item.Price <= 0 || item.PromotionPrice <= 0 || item.Price < item.PromotionPrice)
                                            {
                                                <div class="price-box"> <span class="regular-price"> <span class="price">Liên Hệ</span> </span> </div>
                                            }
                                            else if (item.PromotionPrice.HasValue && item.PromotionPrice < item.Price)
                                            {
                                                <p class="special-price"> <span class="price-label"></span> <span class="price"> @item.PromotionPrice.Value.ToString("N0") </span> </p>
                                                <p class="old-price"> <span class="price-label"></span> <span class="price">@item.Price.ToString("N0") </span> </p>
                                            }
                                            else
                                            {
                                                <p class="special-price"> <span class="price-label"></span> <span class="price"> @item.Price.ToString("N0") </span> </p>
                                            }
                                        </div>
                                        <div class="desc std">

                                            @if (item.Description.IsNullOrWhiteSpace())
                                            {
                                                <p>No Description</p>

                                            }
                                            else
                                            {
                                                <p>
                                                    @if (item.Description.Length > 40)
                                                    {
                                                        @item.Description.Substring(0,40)

                                                    }
                                                    else
                                                    {
                                                        @item.Description
                                                    } ... <a class="link-learn" title="Learn More" href="@url">Learn More</a>
                                                </p>
                                            }
                                            @*<p>
                                                    @Html.Raw(item.Content) <a class="link-learn" title="Learn More" href="@url">Learn More</a>
                                                </p>*@


                                        </div>
                                        <div class="actions">
                                            <button class="button add-to-cart" data-id="@item.Id" title="Add to Cart" type="button"><i class="fa fa-shopping-basket"></i><span>Add to Cart</span></button>
                                            <ul>
                                                <li> <a href="wishlist.html"> <i class="fa fa-heart-o"></i><span> Add to Wishlist</span> </a> </li>
                                                <li> <a href="compare.html"> <i class="fa fa-link"></i><span> Add to Compare</span> </a> </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>

                    </div>

                    @(await Component.InvokeAsync("Pager", Model.Data))

                </div>
            </div>

            @*@await Component.InvokeAsync("Search")*@

        </div>
    </div>
</div>
<!-- Main Container End -->
<!-- service section -->
<div class="jtv-service-area">
    <div class="container">
        <div class="row">
            <div class="col col-md-3 col-sm-6 col-xs-12">
                <div class="block-wrapper ship">
                    <div class="text-des">
                        <div class="icon-wrapper"><i class="fa fa-paper-plane"></i></div>
                        <div class="service-wrapper">
                            <h3>World-Wide Shipping</h3>
                            <p>On order over $99</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-md-3 col-sm-6 col-xs-12 ">
                <div class="block-wrapper return">
                    <div class="text-des">
                        <div class="icon-wrapper"><i class="fa fa-rotate-right"></i></div>
                        <div class="service-wrapper">
                            <h3>30 Days Return</h3>
                            <p>Moneyback guarantee </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-md-3 col-sm-6 col-xs-12">
                <div class="block-wrapper support">
                    <div class="text-des">
                        <div class="icon-wrapper"><i class="fa fa-umbrella"></i></div>
                        <div class="service-wrapper">
                            <h3>Support 24/7</h3>
                            <p>Call us: ( +123 ) 456 789</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-md-3 col-sm-6 col-xs-12">
                <div class="block-wrapper user">
                    <div class="text-des">
                        <div class="icon-wrapper"><i class="fa fa-tags"></i></div>
                        <div class="service-wrapper">
                            <h3>Member Discount</h3>
                            <p>25% on order over $199</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


